.top{
    // width: 2000px;
    // height: 2000px;
    // position: relative;
    // transition: 3s;
    // &:hover{
    //     width: 50px;
    //     height: 50px;
    //     background-color: aqua;
    //     &::after{
    //         content: "";
    //         width: 50px;
    //         height: 50px;
    //         position: absolute;
    //         top: 10%;
    //         left: 10%;
    //         background-color: #333;
    //     }

    // }
    font-size: 100pt;
    .fa-twitter{
        color: #00acee;
    }
    fa-instagram{
        background: 
        linear-gradient(0deg, rgba(64, 93, 230, 1), transparent 75%),
        linear-gradient(120deg, rgba(225, 48, 108, 1), transparent),
        linear-gradient(240deg, rgb(252, 175, 69, 1), transparent);
    background-size: 100% 100%;
    animation: gradient 5s ease-in-out infinite;
    background-attachment: fixed;
    }
}
